dimensions/1_operations/manual/AddOnce/AddOnce.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name = "UnitOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name = "AddOnce">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Parameters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Reactant" type="xs:string"/>
                    <xs:element name="Amount" type="xs:string"/>
                    <xs:element name="Timing" type="xs:string"/>
                    <xs:element name="RateOfAddition" type="xs:string"/>
                    <xs:element name="Temperature" type="xs:string"/>
                    <xs:element name="Pressure" type="xs:string"/>
                    <xs:element name="Stirring" type="xs:string"/>
                    <xs:element name="Solvent" type="xs:string"/>
                    <xs:element name="PH" type="xs:string"/>
                    <xs:element name="SafetyConsiderations" type="xs:string"/>
                    <xs:element name="ReactionEnvironment" type="xs:string"/>
                    <xs:element name="Equipment" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
