dimensions/1_operations/api/Centrifugation/Centrifugation.xsd


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="UnitOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Centrifugation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Parameters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Sample" type="xs:string"/>
                    <xs:element name="Speed" type="xs:string"/>
                    <xs:element name="Time" type="xs:string"/>
                    <xs:element name="Temperature" type="xs:string"/>
                    <xs:element name="Pressure" type="xs:string"/>
                    <xs:element name="RotationDirection" type="xs:string"/>
                    <xs:element name="SafetyConsiderations" type="xs:string"/>
                    <xs:element name="Equipment" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
