dimensions/1_operations/manual/Cleaning/PreCleaning.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UnitOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PreCleaning">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Parameters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Materials" type="xs:string"/>
                    <xs:element name="Procedure" type="xs:string"/>
                    <xs:element name="SafetyConsiderations" type="xs:string"/>
                    <xs:element name="Duration" type="xs:string"/>
                    <xs:element name="Environment" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
