dimensions/1_operations/api/Filtration/Filtration.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <!-- Filtration Schema -->
  <xs:element name="Filtration">
    <xs:complexType>
      <xs:sequence>
        
        <!-- Filter Type -->
        <xs:element name="FilterType" type="xs:string" />
        
        <!-- Pore Size -->
        <xs:element name="PoreSize" type="xs:string" />
        
        <!-- Composition of Feed Solution -->
        <xs:element name="FeedSolution" type="xs:string" />
        
        <!-- Filtration Rate -->
        <xs:element name="FiltrationRate" type="xs:string" />
        
        <!-- Filter Area -->
        <xs:element name="FilterArea" type="xs:string" />
        
        <!-- Filter Cake Thickness -->
        <xs:element name="FilterCakeThickness" type="xs:string" minOccurs="0" />
        
        <!-- Filtration Time -->
        <xs:element name="FiltrationTime" type="xs:string" />
        
        <!-- Temperature -->
        <xs:element name="Temperature" type="xs:string" />
        
        <!-- Pressure or Vacuum -->
        <xs:element name="PressureOrVacuum" type="xs:string" />
        
        <!-- Pre-Filtration Treatment -->
        <xs:element name="PreFiltrationTreatment" type="xs:string" />
        
        <!-- Safety Measures -->
        <xs:element name="SafetyMeasures" type="xs:string" />
        
        <!-- Cleaning And Maintenance -->
        <xs:element name="CleaningAndMaintenance" type="xs:string" />
        
        <!-- Filtration Efficiency -->
        <xs:element name="FiltrationEfficiency" type="xs:string" minOccurs="0" />
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
